.apartmentIndex {
    .prova {
        height: 70px;
    }
    .stampParent {
        position: relative;
       
        
        .stamp {
            position: absolute;
            left: -40px;
            top: -10px;
            font-size: 14px;
            border-radius: 10px;
            padding: 10px 5px;
            //background-color: violet;
            background-image: $primary-gradient;
            color: rgb(213, 224, 182);
        }
    }
}