.sponsorshipIndex {

    .main-title{        
        text-align: left;
    }

    .tier-card {

        .card-price {
            font-size: 25px;
        }

    }

    .card{
        
        img{
            height: auto;
            width: 100%;
        }

        &.bg-1 {
            background-color: rgb(180, 180, 180); // Colore per la sponsorizzazione Standard
        }

        &.bg-2 {
            background-color: rgb(150, 150, 150); // Colore per la sponsorizzazione Premium
        }

        &.bg-3 {
            background-color: rgb(110, 110, 110); // Colore per la sponsorizzazione Deluxe
        }
    } 

    .cardhover:hover {
        transform: scale(1.20);
        transition: transform 0.3s ease;
        z-index: 999;
    }
}

.sponsor-title-1, .sponsor-title-2, .sponsor-title-3{    
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}
.sponsor-title-1{
    background-color: #0bb2dc;
}