@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";
@import 'partials/login.scss';
@import 'partials/nav.scss';
@import 'partials/variables.scss';
@import 'partials/typo.scss';

.hidden{
    display: none;
}
body{
   background-color: #F5F5F5;
   font-family: "Quicksand";
}
