// gestione dimensione immagine in show

.show-image {
    width: 120rem;
    height: auto;
}

.apart-services {
    margin-top: 3.9375rem;
    width: 300px;
    height: 700px;
    overflow-y: auto;
}

.sponsor {
    padding-top: 30px;
}