#login {
    display: grid;
    place-items: center;
    font-family: "Nunito", sans-serif;
    height: 100vh;
    /* headings */
    h1 {
        font-weight: bold;
        margin: 0;
        font-size: 20px;
    }
    /* headings */
    /* paragraphs */
    p {
        font-size: 0.9em;
        font-weight: 200;
        line-height: 1.3em;
        letter-spacing: 0.1em;
        margin: 20px 0;
    }
    /* paragraphs */
    /* span tags */
    span {
        font-size: 14px;
        color: #a9a9a9;
    }
    span .forgot {
        color: #c850c0;
        cursor: pointer;
    }
    /* span tags */
    a {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }

    /* form */
    form {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
    }
    /* form */
    /* input fields */
    input {
        background-color: #ecececdd;
        border: none;
        font-size: 14px;
        padding: 10px 12px;
        margin: 8px 0;
        width: 100%;
        color: #333;
        outline: none;
        border-radius: 5px;
    }
    /* input fields */

    /* button */
    button {
        text-decoration: none;
        position: relative;
        border: none;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        width: 9em;
        height: 3em;
        line-height: 2em;
        text-align: center;
        background: linear-gradient(90deg, #4158d0, #f441a5, #ffcc70, #4158d0);
        background-size: 300%;
        border-radius: 30px;
        z-index: 1;
        margin-top: 30px;
        cursor: pointer;
    }

    button:hover {
        animation: ani 8s linear infinite;
        border: none;
    }

    @keyframes ani {
        0% {
            background-position: 0%;
        }

        100% {
            background-position: 200%;
        }
    }

    button:before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -1;
        background: linear-gradient(90deg, #4158d0, #f441a5, #ffcc70, #4158d0);
        background-size: 400%;
        border-radius: 35px;
        transition: 1s;
    }

    button:hover::before {
        filter: blur(10px);
    }

    button:active {
        background: linear-gradient(90deg, #4158d0, #f441a5, #ffcc70, #4158d0);
    }

    /* button */

    /* container */
    .container {
        background-color: #ffffff;
        border-radius: 2em;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        position: relative;
        overflow: hidden;
        width: 650px;
        max-width: 100%;
        min-height: 550px;
    }
    .form {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all ease-in-out 0.6s;
    }
    .sign_up {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }
    .sign_in {
        left: 0;
        width: 50%;
        z-index: 2;
        opacity: 1;
    }
    /* container */

    /* active container */
    .container.right-panel-active .sign_in {
        transform: translateX(100%);
        opacity: 0;
    }
    .container.right-panel-active .sign_up {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: switch 0.5s;
    }
    @keyframes switch {
        0%,
        49.99% {
            opacity: 0;
            z-index: 1;
        }
        50%,
        100% {
            opacity: 1;
            z-index: 5;
        }
    }

    /* active container */

    /* overlay container*/
    .overlay-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;
    }
    .overlay {
        background-color: #4158d0;
        background-image: linear-gradient(
            43deg,
            #4158d0 0%,
            #c850c0 46%,
            #ffcc70 100%
        );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #fff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }
    .overlay-pannel {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        top: 0;
        height: 100%;
        width: 50%;
        transform: translateX(0);
        transition: transform -0.6s ease-in-out;
    }
    .overlay-left {
        transform: translateX(-20%);
    }
    .overlay-right {
        right: 0;
        transform: translateX(0);
    }
    /* container switch */
    .container.right-panel-active .overlay-container {
        transform: translateX(-100%);
    }
    .container.right-panel-active .overlay {
        transform: translateX(50%);
    }
    .container.right-panel-active .overlay-left {
        transform: translateX(0);
    }
    .container.right-panel-active .overlay-right {
        transform: translateX(20%);
    }
    /* container switch */

    /* overlay container */

    /* social container */
    .social-container {
        margin: 20px 0;
    }
    .social-container a {
        border: 1px solid #dddd;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }
}
