.sponsorshipIndex {
    .main-title{
        padding: 50px 0;
        text-align: left;
    }

    .card{
        img{
            height: auto;
            width: 100%;
        }
    }

    h2[data-type="Standard"] {
        color: green;
    }
    
    h2[data-type="Premium"] {
        color: blue;
    }
    
    h2[data-type="Deluxe"] {
        color: purple;
    }
    
    
}