// Variabili 
$primary:#7EBCE6;
$secondary: #69D1C5;
$tertiary:#8980F5;

$primary-gradient: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
    );

$standard-color: #c7ccdb;
$premium-color: #ffc300;
$deluxe-color: #93b7be;